[submodule "OCA/account-analytic"]
	path = OCA/account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 14.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 14.0

[submodule "OCA/field-service"]
	path = OCA/field-service
	url = git@github.com:OCA/field-service.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0

[submodule "OCA/contract"]
	path = OCA/contract
	url = git@github.com:OCA/contract.git
	branch = 14.0
